langchain
langchain-community
langchain-core
crewai
langchain_openai
openai
python-dotenv

streamlit

pandas
tqdm
#pip install "langchain==0.2.17" "langchain-community==0.2.16" "langchain-core==0.2.43" "langchain-openai==0.1.25"
#npm install -g @mermaid-js/mermaid-cli

